
        <md-content class="md-padding  scroll tab-content">
                <div layout="column" layout-align="left left" ng-cloak >
        <div layout="row" layout-align="start" flex>
            <md-input-container flex="20">
                <md-select placeholder="Order By" ng-model="customListCtrl.type" md-on-open="customListCtrl.orderFilter()">
                    <md-option ng-value="type" ng-repeat="type in customListCtrl.selectionFilter">{{type.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex="20">
                <md-select placeholder="Asc / Disc" ng-model="customListCtrl.asc" md-on-open="customListCtrl.ascFilter()" >
                    <md-option ng-value="asc" ng-repeat="asc in customListCtrl.ascFilterValue">{{asc.name}}</md-option>
                </md-select> 
            </md-input-container>
        </div>
    </div>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="item in customListCtrl.items | filter: customListCtrl.filterFunction | filter: customListCtrl.search | orderBy: customListCtrl.type.name: customListCtrl.asc.value " ng-class="customListCtrl.selectedItem == item ? 'selected':''" ng-click="customListCtrl.toggleSelection(item)">

                    <md-button  class="md-icon-button" aria-label="Type">
                        <md-icon ng-if="item.type == 'private' ">person</md-icon>
                        <md-icon ng-if="item.type == 'company'">business_center</md-icon>
                    </md-button>
                    <div class="md-list-item-text">
                        <h3>{{item.name}}</h3>
                        <h4>{{item.email}} - {{item.id}}</h4>
                        <p> BALANCE: {{item.balance | currency:"€ ": 0}}</p>
                    </div>
                    <md-checkbox class="md-secondary" ng-click="customListCtrl.toggle(item)"></md-checkbox>
                    <md-icon   aria-label="Edit" class="md-secondary md-hue-3" ng-click="customListCtrl.showEdit($event,item)">edit</md-icon>
                    <md-icon class="md-secondary" ng-click="customListCtrl.deleteItem($event,item)" aria-label="delete">delete</md-icon>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>

        </md-content>